{% extends "pbeurre/base.html" %}

{% block content %}
  {% load static %}
  <section class="bg-primary" id="favorite">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 addmargintop text-center">
          <p>Alors,</p>
          <p>{{user.first_name}}!</p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 addmargintop text-center">
          <p>{{user.email}}</p>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
