<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Pur Beurre</title>

  {% load static %}
  <!-- Favicon -->
  <link rel="icon" type="image/png" href="{% static 'pbeurre/img/logo_pur_beurre-favicon.png'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'pbeurre/css/icons.css'%}">


  <!-- Bootstrap core CSS -->
  <link href="{% static 'pbeurre/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="{% static 'pbeurre/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

  <!-- Plugin CSS -->
  <link href="{% static 'pbeurre/vendor/magnific-popup/magnific-popup.css' %}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static 'pbeurre/css/creative.css' %}" rel="stylesheet">
  <link href="{% static 'pbeurre/css/style.css' %}" rel="stylesheet">


</head>

<body id="page-top">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
    <div class="container">
      <img class="logoPurBeurre" src="{% static 'pbeurre/img/logo_pur_beurre.png' %}" alt="logoPurBeurre">
      <a class="navbar-brand js-scroll-trigger" href="{% url 'pbeurre:index' %}">&nbsp Pur Beurre</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
              data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto my-2 my-lg-0">
            <form class="form-inline" action="{% url 'pbeurre:search' %}" method="post" accept-charset="utf-8">{% csrf_token %}
                    <div class="form-inline">
                        <input id="champsearch" type="text"  aria-label="search" aria-describedby="submit"
                               placeholder="Recherche" size="10" name="query">
                        <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit" value="submit">Chercher</button>
                    </div>
              </form>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger"><i class="fas fa-user"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger">
              <img class="carrot" src="{% static 'pbeurre/img/carrott.png' %}" alt="mes aliments">
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger"><i class="fas fa-sign-out-alt"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
{% block content %}
{% endblock %}
  <section class="page-section" id="contact">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8 text-center">
          <h2 class="mt-0"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Contactez Nous !</font></font></h2>
          <hr class="divider my-4">
          <p class="text-muted mb-5"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Vous avez des questions ?
              <br>N'hésitez pas à nous contacter !</font></font></p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 ml-auto text-center mb-5 mb-lg-0">
          <i class="fas fa-phone fa-3x mb-3 text-muted"></i>
          <div><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">123-456-6789</font></font></div>
        </div>
        <div class="col-lg-4 mr-auto text-center">
          <i class="fas fa-envelope fa-3x mb-3 text-muted"></i>
          <!-- Make sure to change the email address in anchor text AND the link below! -->
          <a class="d-block" href="pbeurre@mail.com"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">pbeurre@mail.com</font></font></a>
        </div>
      </div>
    </div>
  </section>

  <footer class="bg-light py-5">
    <div class="container">
      <div class="small text-center text-muted">
          <font style="vertical-align: inherit;">
              <font style="vertical-align: inherit;">
                  <a class="text-center js-scroll-trigger" href="{% url 'pbeurre:mention' %}">
                      <font style="vertical-align: inherit;">
                      <font style="vertical-align: inherit;">
                          Mentions legales
                          </font></font></a>
                  &middot; Stan Bruyere &middot; All rights reserved &middot;
                  <a class="text-center js-scroll-trigger" href="#contact">
                      <font style="vertical-align: inherit;">
                      <font style="vertical-align: inherit;">
                          Contact
                      </font></font></a>
              </font>
          </font>
      </div>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'pbeurre/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'pbeurre/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <!-- Plugin JavaScript -->
  <script src="{% static 'pbeurre/vendor/jquery-easing/jquery.easing.min.js' %}"></script>
  <script src="{% static 'pbeurre/vendor/scrollreveal/scrollreveal.min.js' %}"></script>
  <script src="{% static 'pbeurre/vendor/magnific-popup/jquery.magnific-popup.min.js' %}"></script>

  <!-- Custom scripts for this template -->
  <script src="{% static 'pbeurre/js/creative.min.js' %}"></script>
</body>
</html>