{% extends 'pbeurre/base.html' %}
{% block content%}
<section class="page-section">
  <header>

    <div class="col-sm-12 col-md-12  text-center">
    <h4 class="text-center  mx-auto">Vos Produits Favoris :</h4>
    {% if not favori %}
        <br>
        <div style="padding-top:7%; padding-bottom: 20%">
      Vous n'avez pas encore de favoris !
    </div>
        </div>
        {% else %}
            <div id="backgroundProduct" class="row">
            {% for food in favori %}
            <div   class="col-sm-12 col-md-12 col-lg-4 col-xl-4  headerImage text-center">
                <div id="nutri_score">{{ food.nutri_score }}</div>
                <a class="img-fluid" href="{{ food.picture }}">
                  <img id="food-image" class="image" src="{{ food.picture }}" alt=""></a>
                <a class="text-center js-scroll-trigger" href="{% url 'pbeurre:details' food_id=food.id %}">
                    <h6 id="food-name">{{ food.name }}</h6></a>
                <form action="{% url 'pbeurre:remove_fav' food_id=food.id %}" method="get" accept-charset="utf-8">
                {% csrf_token %}
                    <button class="btn-primary my-2 my-sm-0" type="submit" value="submit"><i class="far fa-trash-alt">&nbspSupprimer</i></button>
              </form>
                {% if forloop.counter|divisibleby:3 %}<div class="clearfix"></div>{% endif %}
            </div>
            {% endfor %}
            </div>
            {% if paginate %}<br>
              <div class="clearfix"></div>
              <nav aria-label="...">
                <ul class="pager">
                  {% if favoris.has_previous %}
                      <a href="?page={{ favoris.previous_page_number }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">Précédent</a>
                  {% endif %}
                  {% if favoris.has_next %}
                      <a href="?page={{ favoris.next_page_number }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">Suivant</a>
                  {% endif %}
                </ul>
              </nav>
            {% endif %}
    {% endif %}
    </header>
</section>
{% endblock%}