{% extends 'pbeurre/base.html' %}

{% block content%}
	{% load static %}
  <!-- Masthead -->
  <header class="masthead">
    <div class="container h-100">
      <div class="row h-100 align-items-center justify-content-center text-center">
        <div class="col-lg-10 align-self-end">
          <h1 class="text-uppercase text-white font-weight-bold">Du gras, oui, mais de qualite!</h1>
          <hr class="divider my-4">
        </div>
        <div class="col-lg-8 align-self-baseline">
          <h2 class="text-white-90 font-weight-bold mb-5">
              Trouvez un produit de substitution pour ceux que vous consommez tous les jours
          </h2>
          <div class="row align-items-center justify-content-center text-center">
              <form action="{% url 'search' %}" method="post">{% csrf_token %}
                    <input form="search" type="text"  aria-label="Food Name" aria-describedby="button-addon2"
                             placeholder="Entrez le nom du produit" size="30" name="query">
                    <button class="btn-primary my-2 my-sm-0" id="button-addon2" type="submit" value="submit">Chercher</button>
              </form>
          </div>
        </div>
      </div>
	</div>
	</header>
    <section class="page-section bg-primary" id="about">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8 text-center">
          <h2 class="text-white mt-0"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Colette et Remy</font></font></h2>
          <hr class="divider light my-4">
          <p class="text-white-50 mb-4"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Remy et Colette sont amoureux de la gastronomie française (on ne peut les blâmer !).
				Travaillant quotidiennement avec les meilleurs produits du terroir, ils affectionnent particulièrement la bonne chaire et aiment partager leur passion</font></font></p>
		  <div class="row">
			<div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 mx-auto text-center">
			  <img id="colette" src="{% static 'pbeurre/img/colette-tatou-full.png'%}" alt="colette">
			  <p>Colette</p>
			</div>
			<div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 mx-auto text-center">
			  <img id="ratatouille" src="{% static 'pbeurre/img/ratatouille-portrait.jpg'%}" alt="ratatouille">
			  <p>Remy</p>
			</div>
		  </div>
		</div>
      </div>
    </div>
	</section>
{% endblock%}



