{% extends 'pbeurre/base.html' %}
{% block content%}
	{% load static %}
    <section >
        <div class="text-center" style="padding-top: 40px">
            {% for food in foods %}
            <div class="headerImage mx-auto" id="backgroundProduct" style="padding-top: 5px; padding-bottom: 5px">
               <div id="background-food-image" class="bg-light py-5" style="background-image:url({{food.picture}})">
                   <h2 id="text-food" class="text-white font-weight-bold mb-5)">
                       {{food.name}}
                   </h2>
               </div>
            </div>
            {% endfor %}
        </div>
    </section>
    <br>

{% include 'pbeurre/list.html' %}
{% endblock%}