{% extends 'pbeurre/base.html' %}
{% block content%}
	{% load static %}
{#<body>#}
{#    <div class="container-fluid p-0">#}
{#        <div class="row">#}
{#        {% for food in foods %}#}
{#        <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 headerImage text-center">#}
{#            <a href="{% url 'details' %}">#}
{#              <img class="image" src="{{ food.picture }}" alt="{{ food.name }}">#}
{#                <div class="portfolio-box-caption">#}
{#                    <div class="project-category text-white-50">#}
{#                      {{ food.category_tags1 }}#}
{#                    </div>#}
{#                    <div class="project-name">#}
{#                    {{ food.name }}#}
{#                    </div>#}
{#                </div>#}
{#            </a>#}
{#            {% if forloop.counter|divisibleby:3 %}<div class="clearfix"></div>{% endif %}#}
{#        </div>#}
{#        {% endfor %}#}
{#        </div>#}
{#    </div>#}
{#</body>#}

<body>
    <section >
        <div class="text-center">
            {% for food in foods %}
            <div class="row1 headerImage mx-auto ">
               <div class="bg-light py-5">
                       <section id="text-food" class="bg-light py-5">Le nom du produit est : {{food.name}}.<br>
                        Il est dans la catégorie : {{ food.category_tags1 }}.
                       </section>
               </div>
            </div>
            {% endfor %}
        </div>
    </section><br>
    <section id="text-food" class="text-center mx-auto">Vous pouvez remplacer ce produit par :
    </section>
        <div class="container-fluid p-0">
            <div class="row">
            {% for food in substitute %}
            <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 headerImage text-center">
                <a class="portfolio-box" href="{{ food.picture }}">
                  <img class="image" src="{{ food.picture }}" alt="{{ food.name }}">
                    <div class="portfolio-box-caption">
                        <div class="project-category text-white-50">
                          {{ food.category_tags1 }}
                        </div>
                        <div class="project-name">
                        {{ food.name }}
                        </div>
                    </div>
                </a>
                {% if forloop.counter|divisibleby:3 %}<div class="clearfix"></div>{% endif %}
            </div>
            {% endfor %}
            </div>
        </div>
</body>
{% endblock%}
