{% extends 'pbeurre/base.html' %}
{% block content %}
    <header class="page-section text-center">
        <p>L'aliment demandé est au poney ! Il ne reviendra pas avant un bon moment.
        <br>D'ici là réessayez !</p>
        <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 mx-auto">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe src="https://www.youtube.com/embed/u5Ho1trvlro" allowfullscreen></iframe>
            </div>
        </div>
    </header>
{% endblock %}