{% extends 'pbeurre/base.html' %}
{% block content %}
    <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 addmargintop mx-auto text-center">
    <p><em>I'm lost. I'm like a king without a throne.</em></p>
    <p>L'aliment que vous demandez est au poney, il ne reviendra pas avant un bon moment.
        <br>D'ici là vous pourriez réessayer avec un autre aliment.</p>
    <div class="embed-responsive embed-responsive-16by9">
        <iframe src="https://www.youtube.com/embed/E9Rl1GvTsiA" allowfullscreen></iframe>
    </div>
    </div>
{% endblock %}