{% extends 'pbeurre/index.html' %}
	{% load crispy_forms_tags %}

{% block content %}

    <section class="page-section" style="padding-bottom: 14%; padding-top: 15%" >
	<!--Reset Password-->
	<div class="container p-5">
  	 	<h2 class="font-weight-bold mt-3">Reset Password</h2>
		<hr>
		<p>Mot de passe oublié? Entrez votre adresse e-mail ci-dessous et nous vous enverrons par e-mail des instructions pour en configurer un nouveau.</p>
        <form method="POST">
            {% csrf_token %}
            {{ form|crispy }}
            <button  id="send_mail" class="btn btn-primary" type="submit">Send email</button>
        </form>
  	</div>
    </section>
{% endblock %}
