{% extends 'pbeurre/index.html' %}
	{% load crispy_forms_tags %}

{% block content %}
    <section class="page-section text-center" style=" padding-bottom: 15%">
  {% if validlink %}
    <h3>Change password</h3>
    <form method="post" style=" padding-top: 10%">
      {% csrf_token %}
      {{ form|crispy }}
      <button type="submit">Change password</button>
    </form >
  {% else %}
    <p style=" padding-bottom: 25%">
    Le lien de réinitialisation du mot de passe n'était pas valide, probablement parce qu'il a déjà été utilisé.
      Veuillez faire une nouvelle réinitialisation de mot de passe.
    </p>
  {% endif %}
    </section>
{% endblock %}
