{% extends 'pbeurre/index.html' %}

{% block content %}
    <section class="page-section" style="padding-bottom: 26%; padding-top: 20%" >

    <p style="padding-left: 3%">
    Nous vous avons envoyé par e-mail des instructions pour définir votre mot de passe, si un compte existe avec l'e-mail que vous avez entré.
        Vous devriez le recevoir sous peu.
    </p>
    <p style="padding-left: 3%">
    Si vous ne recevez pas d'e-mail, assurez-vous d'avoir saisi l'adresse avec laquelle vous vous êtes inscrit,
        et vérifiez votre dossier spam.
    </p>
    </section>
{% endblock %}
