.logoPurBeurre{
  width: 40px;
}

.carrot{
  width: 36px;
  filter: drop-shadow(2px 2px 2px black);
}


.fa-user{
  color: white;
  font-size: 25px;
  filter: drop-shadow(2px 2px 2px black);
}

.fa-sign-out-alt{
  color: white;
  font-size: 25px;
  filter: drop-shadow(2px 2px 2px black);

}

.button-home{
  background-color: #f05f40;
  color: white;
}

.button-home:hover{
  background-color: white;
  color: black;
}

#ratatouille{
  height: 400px;
  margin-left: -15%;
}

#colette{
  height: 400px;
}

#login{
  height: 97vh;
}


#image{
  height: 350px;
  width: 200px;
}


#food-name{
  font-size: large;
  color: #ffffff;
  top:2.5ch;
}

#no_result_text{
  font-size: large;
}

#backgroundProduct{
  color: #FFFFFF;
  margin-top:2%;
  padding-bottom:4%;
  background-color: #d88609;
}

#backgroundProduct:link {
  color: #FFFFFF;

}

.addmargintop{
  padding-top: 70px;
}

.content{
  height: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
}

.mentionlegal{
  margin-top: 100px;
}

.headerImage{
  height: 30vh;
  width: auto;
  margin-top: 75px;
  padding: 0;
}

.headerImage img{
  height: 100%;
  border: 4px solid white;
  border-radius: 10px;
  z-index: 4;
}

.headerImage p{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #f05f40;
  background-color: white;
}

.image{
  position: relative;
  max-height: 300px;
  max-width: 300px;
}

.image img{
  border-radius: 5px;
  }


#nutri_score:hover, .nutri_score:active{
  color: white;
  background-color: #f05f40;
  text-decoration: none;
}

#favorite{
  color: #FFFFFF;
  padding: 0 !important;
}

#next{
  position: relative;
  padding-left: 10%;
  right: 50%;
}
.backgroundForm{
  width: 350px;
  padding: 35px;
  background-color: white;
  border: 1px solid grey;
  border-radius: 10px;
}

.login-form{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.loginInput{
  border: 1px solid grey;
  border-radius: 20px;
  padding: 5px;
  margin: 10px;
}

.passwordInput{
  border: 1px solid grey;
  border-radius: 20px;
  padding: 5px;
  margin: 10px;
}

.loginInput:focus{
  border: 2px solid #f05f40;
  border-radius: 20px;
  outline: none;
}
.passwordInput:focus{
  border: 2px solid #f05f40;
  border-radius: 20px;
  outline: none;
}

.seConnecterButton{
  padding: 5px;
  background-color: #f05f40;
  color: white;
  border-radius: 15px;
  border: 1px solid #f05f40;
}

.seConnecterButton:hover{
  background-color: white;
  color: #f05f40;
  transition-duration: .5s;
}


.openfoodfacts{
  background-color: black;
  color: white;
  text-decoration: none;
  padding: 10px;
}

#footer {
    position: fixed;
}

#champsearch {
  background-color: #e5e5e5;
}
#nutri_score {
  z-index: 3;
  color: #FFFFFF;
  background-color: #67aec4;
  position: absolute;
  border-color: #dadada;
  border-style: solid;
  border-radius: 25px;
  top: 0;
  right:18%;
  width: 5ch;
  padding: 10px;
}

#text-food {
  background-color: rgba(92, 92, 92, 0.5);
  opacity: 50%;
}

#background-food-image {
  image-orientation: initial;
}

#food-image {
  z-index: 2;
  border: 2px solid #808991;
}

#table100g {
  position: absolute;
  bottom: 0;
  right: 40%;
}

#nutri-image {
  right: -10em;
}

#captain {
  position: center;
  right: 100%;
}